@font-face {
  font-family: "raleway";
  font-weight: normal;
  src: url(../src/fonts/Raleway-VariableFont_wght.ttf) format("truetype"), url(../src/fonts/Raleway-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "lexend";
  font-weight: normal;
  src: url(../src/fonts/Lexend-VariableFont_wght.ttf) format("truetype");
}
*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "raleway", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
}

.layout{
  height: 100vh;
  display: grid;
  grid-template-columns: 18vw auto;
  grid-template-rows: 20vh auto;
}
.sidebar{  
  grid-column: 1;
  grid-row: 1/3;
  background-color: #004e8d;
  display: flex;
  flex-direction: column;  
  row-gap: 16px;
}
.sidebar>.sidebar__logo{
  width: 100%;
  padding-top: 32px; 
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;   
}
.sidebar__logo>h1{
  color: white;
  font-size: 1.5rem;
  letter-spacing: 8px;
}
.sidebar>.gap{
  height: 2px;
  width: 80%;
  margin: 0 10%;
  background-color: white;
  margin-bottom: 64px;
}
.sidebar>ul>li{
  width: 100%;
  padding: 12px 0 12px 64px;
  font-family: 'lexend', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: white;  
  transition: all .2s ease-in-out;
  text-shadow: 0 2px 5px 5px hsla(0, 0%, 0%, 50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
}
li:last-of-type{
  margin-bottom: 0;
}
li:hover{  
  transform: translateY(-2px);
  background-color: hsl(207, 100%, 24%);
}
li:active{  
  transform: translateY(2px);
}
li>img{
  width: 20px;
  height: 20px;
}

.topbar{
  padding: 8px 16px;
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  box-shadow: 5px -7px 10px 5px hsla(0, 0%, 0%, 30%);
}
.topbar>.busqueda__topbar{
  display: grid;
  grid-template-columns: auto 40%;  
}
.busqueda__topbar>label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
label>img{
  height: 20px;
  width: 20px;
}
input{
  appearance: none;
  padding: 0 8px;
  height: 32px;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  align-self: center; 
}
.perfil{
  display: grid;
  grid-template-columns: 160px 96px 250px;
  align-items: center;
  justify-items: end;
}
.perfil>.campanita{
  height: 32px;
  width: 32px;  
}
.perfil>.foto{
  height: 48px;
  width: 48px; 
}
.perfil>:is(.campanita, .foto){
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.perfil>:is(.campanita, .foto):hover{
  transform: scale(1.1);  
}
.perfil>p{
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;  
}

.topbar>.navbar__topbar{
  display: grid;
  grid-template-columns: auto 40%;
}
.navbar__topbar>.bienvenida{
  padding-left: 7%;
  display: flex;
  align-items: center;
  column-gap: 16px;    
}
.navbar__topbar>.opciones{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
}
.navbar__topbar button{
  height: 32px;
  padding: 0 32px;
  background-color: #004e8d;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
button:hover{
  transform: translateY(-2px);
  box-shadow: 0px 1px 5px hsla(0, 0%, 0%, 30%);
}

main{
  padding: 32px;
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: 48px auto;
  background-color: rgb(248, 248, 248);
  column-gap: 32px;
}
main .cartas{    
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
}
.cartas>.carta{
  padding: 32px;
  background-color: white;
  border-left: 4px solid #004e8d;
  box-shadow: 0px 1px 5px hsla(0, 0%, 0%, 30%);
  display: grid;
  grid-template-rows: 90% 10%;
}
.iconos__carta{
  justify-self: end;
}
.iconos__carta>.icono{
  width: 20px;
  height: 20px;
}

.anuncios, .tendencias{    
  padding: 16px;
  background-color: white;
  border-left: 4px solid #004e8d;
  box-shadow: 0px 1px 5px hsla(0, 0%, 0%, 30%);  
}
.anuncios>.contenido__anuncios{
  width: 100%;
  height: 20%;
}
.right-cards p{
  width: 100%;
  height: 100%;
  font-size: .75rem;  
  overflow: hidden;
  text-overflow: ellipsis;  
}
.contenido__anuncios{
  margin-bottom: 16px;
}
.contenido__anuncios:last-of-type{
  margin-bottom: 0;
}
.right-cards h3{
  font-size: .80rem;
}
.tendencias{
  margin-top: 32px;
}
.tendencias>.tendencia{
  cursor: pointer;
  padding: 8px;  
}
.tendencias>.tendencia:last-of-type{
  margin-bottom: 0;
}
.tendencia:hover{
  background-color: hsla(0, 0%, 90%, 0.5);
}